
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
    /* Colors */
    --DarkBlue: #1F2937;
    --White: #F9FAF8;
    --Gray: #E5E7EB;
    --Blue: #3882F6; 

    /* Fonts */
    /* font: optional; */
    --LargeHero: 900 3rem 'Roboto', sans-serif;
    --Secondary: 400 1.125rem 'Roboto', sans-serif;
    --LargeInfo: 900 2.25rem 'Roboto', sans-serif;
    --Logo: 700 1.5rem 'Roboto', sans-serif;
    --Quote: italic 300 2.25rem 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

header, footer {
    background-color: var(--DarkBlue);
    font: var(--Secondary);
    color: var(--Gray);
    width: 100%;
}
footer {
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.header-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font: var(--Logo);
    margin-right: auto;
}

.navLinks {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 1em;
}

.navLinks a {
    color: var(--Gray);
    text-decoration: none;
}

main {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 100%;
}

.hero {
    background-color: var(--DarkBlue);
}

.hero-wrapper {
    display: grid;
    grid-template: 100% / 1fr 1fr;
}

/* placeholder */
.heroOverlay {
    background-color: #6F737C;
    width: 450px;
    height: 200px;
    margin: auto;
}

.heroHeading {
    font: var(--LargeHero);
    color: var(--White);
}

.heroText {
    font: var(--Secondary);
    color: var(--Gray);
}

button {
    background-color: var(--Blue);
    color: var(--White);
    border: none;
    padding: .5em 2em .5em 2em;
    border-radius: 8px;
    font-weight: bolder;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoHeading {
    font: var(--LargeInfo);
    color: var(--DarkBlue);
}

.cardList {
    display: flex;
    font:var(--Secondary);
    color: var(--DarkBlue);
}

.quote {
    background-color: var(--Gray);
    color: var(--DarkBlue);
    font: var(--Quote);
}

.quote-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quoteAttribution {
    color: var(--DarkBlue);
    font: var(--Logo);
    align-self: flex-end;
}

.cta-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}

.ctaBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue);
    border-radius: 8px;
}
.ctaContent {
    padding: 2em;
}
.ctaBtn {
    border: 1px solid var(--White);
}