:root {
    --DarkBlue: #1F2937;
    --White: #F9FAF8;
    --Gray: #E5E7EB;
    --Blue: #3882F6; 

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.pageWrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header, footer {
    background-color: var(--DarkBlue);
    color: var(--White);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.siteHeader {
    justify-content: space-between;
    padding: 1.5em;
}

.logo {
    margin-right: auto;
}

.navLinks {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.navLinks a {
    color: var(--Gray);
    text-decoration: none;
}

.hero {
    background-color: var(--DarkBlue);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroButton {
    background-color: var(--Blue);
    color: var(--White);
    border: none;
    padding: .5em 1.5em .5em 1.5em;
    border-radius: 8px;
    font-weight: bolder;
}

main {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardList {
    display: flex;
}

.quote {
    background-color: var(--Gray);
}